.navigation {
  position: fixed;
  top: 0;
  left: 0;

  height: $navigation-height;
  width: 100%;

  overflow: auto;

  @include layer(navigation);
}

.nav-buttons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 330px;

  @include bp(screen-xxxsm) {
    width: 285px;
  }
}